[submodule "mj_envs"]
	path = mj_envs
	url = https://github.com/cherylwang20/mj_envs.git
	branch = cleanup

[submodule "GroundingDINO"]
	path = GroundingDINO
	url = https://github.com/cherylwang20/GroundingDINO.git
	branch = main